/* грид */
.grid-view table.items th, .grid-view table.items td {
  font-size: 10px;
}

table.items tr.archive, table.items tr.archive td {
  background: #444;  color: #fff;
}

/* ровняет текст в строках с высокими инпутами */
.order-form-goods-line > span, form > span, form > label > span {
  position: relative; top: 5px;
}